// Base styles
@import 'base/variables';
@import 'base/fonts';
@import 'base/mixins';

// // Editor-specific styles for blocks
.editor-styles-wrapper {

    font-family: $font-display;
    background: $primary-color;
    padding: 0px 40px;

//     .wp-block-post-title {
//         margin-bottom: 60px;
//     }

    @import 'base/typography';
    @import 'base/utils';

    @import 'components/buttons';

    @import 'blocks/hero-default';
    @import 'blocks/about-section';
    @import 'blocks/media-section';

//     .project-gallery-editor {
//         display: grid;
//         grid-template-columns: repeat(14, 1fr);
//         gap: 1rem;
//     }

//     .project-gallery-item {
//         border: 1px dashed #ccc;
//         padding: 1rem;
//         background-size: cover;
//         background-position: center;
//         position: relative;
//         min-height: 150px;
//     }
// }

// .interface-navigable-region {
//     h1, h2, h3 {
//         font-family: $font-display;
//     }
}
