.about-section {

    // padding: 5rem 0;

    .hdln-2 {
        color: $primary-color;
    }

    li {
        font-weight: 400;
    }

    .about-image-wrapper {
        @media (min-width: 992px) {
            padding-right: 1.5rem;
        }
    }

    img {
        @media (max-width: 992px) {
            margin-bottom: 2rem;
        }
    }
    
}