.article-list {
    font-size: 18px;
    padding-bottom: 5rem;
    ul {
        width: 100%;
        list-style: none;
        padding: 0px;
        margin: 0px 0px 1.875rem 0px;
        border-bottom: solid 1px #CFC7C6;
    }
    .article-item {
        border-top: solid 1px #CFC7C6;
        height: 4.75rem;
        position: relative;
        cursor: pointer;
        &:before {
            content: '';
            background: #000;
            width: 0%;
            height: 1px;
            position: absolute;
            left: 0px;
            bottom: -1px;
            z-index: 1;
            transition: 0.5s ease;
        }
        &:hover:before {
            width: 100%;
        }
    }
    .article-category {
        margin-left: auto;
        width: 140px;
        a {
            text-decoration: none;
            color: $color-dark;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    .hdln-1 {
        padding: 7.5rem 0px;
        @media (max-width: 768px) {
            padding: 5rem 0px;
        }
    }
    .article-date {
        color: #707070;
        width: 145px;
        text-align: right;
        @media (max-width: 768px) {
            display: none;
        }
    }
    .article-readmore,
    .article-date {
        margin-left: 2.5rem;
    }
    .more-articles {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
