.before-after-block {
    // margin-bottom: 3rem;
    .image-container {
        img {
            width: 100%;
            margin-bottom: 1.5rem;
        }
    }
    .image-caption {
        position: absolute;
        bottom: 1.625rem;
        left: 20%;
        p {
            color: #fff;
        }
    }
}
