// Styles for ContactBlock block
.contact-block {
    padding-top: 12.5rem;
    padding-bottom: 3.75rem;
    .hdln-1 {
        margin-bottom: 2rem;
    }
    .contact-info {
        margin: 3.375rem 0px 2rem 0px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
        grid-template-rows: repeat(3, auto);  /* 3 rows, height auto */
        gap: 2rem; /* Space between grid items */
    }
    .cta {
        margin-top: 3.75rem;
    }
}
