.page-heading {
    margin-top: 25.375rem;
    margin-bottom: 6.25rem;
    .hdln-1 {
        word-wrap: normal;
        & + p {
            margin-top: 2.5rem;
        }
    }
    @media (max-width: 768px) {
        margin-bottom: 4.25rem;
    }
}
