.process-step {
    padding-bottom: 3.125rem;
    &-heading {
        line-height: 1.1em;
        margin-bottom: 2.375rem;
    }
    &-number {
        width: 4.063rem;
        min-width: 4.063rem;
        height: 3.438rem;
        border-radius: 100px;
        background: $color-peach-dark;
        color: $color-red;
        font-size: $font-size-small;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.938rem;
        @media (min-width: 768px) {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 0.75rem;
        }
        &:before {
            content: "";
            display: block;
            width: 2px;
            height: 100%;
            background: $color-peach-dark;
            position: absolute;
            top: 3.75rem;
            @media (min-width: 768px) {
                display: none;
            }
        }
    }
    &-content {
        padding-left: 2.5rem;
        @media (min-width: 768px) {
            text-align: end;
            padding-right: 10%;
            width: 50%;
        }
        @media (min-width: 1024px) {
            padding-left: 8.125rem;
            width: 50%;
        }
    }
    @media (min-width: 768px) {
        &:before {
            content: "";
            display: block;
            width: 2px;
            height: 100%;
            background: $color-peach-dark;
            position: absolute;
            top: 3.75rem;
            left: 0;
            right: 0;
            margin: 0px auto;
        }
    }
}

.process-step--right {
    .process-step-content {
        @media (min-width: 768px) {
            text-align: start;
            padding-left: 10%;
            padding-right: 2.5rem;
            width: 50%;
        }
        @media (min-width: 1024px) {
            padding-right: 8.125rem;
            width: 50%;
        }
    }
}
