// Styles for ProjectIntro block
.project-intro {
    margin-bottom: 4rem;
    table {
        margin-bottom: 2.5rem;
        p {
            margin-bottom: 0.25rem;
            font-size: $font-size-small;
            color: $color-red;
        }
        th {
            p {
                color: #FB867C;
                font-weight: 400;
                margin-right: 1.875rem;
            }
        }
    }
    @media (min-width: 768px) {
        margin-bottom: 10rem;
    }
}
