/* Button Base
====================================*/

.rwd-btn {
    color: #fff;
    background: $primary-color;
    border-radius: 30px 30px 30px 30px;
    display: inline-block;
    font-size: $font-size-small;
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    text-decoration: none;
    border: none;
}

.rwd-btn {
    position: relative;
    z-index: 1;
    transition: 0.4s;
}

.rwd-btn::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    background: transparent;
    height: 100%;
    border-radius: 30px 30px 30px 30px;
    z-index: -1;
    transition: 0.4s;
}

.rwd-btn:hover::before {
    width: 100%;
    // background: darken($primary-color, 20%);
}

/* Variations 
====================================*/

.rwd-btn--accent {
    background: $accent-color;
    color: $color-text;
}
.rwd-btn--accent:hover::before {
    // background: darken($accent-color, 20%);
}

.rwd-btn--secondary {
    background: $secondary-color;
    color: $color-text;
}
.rwd-btn--secondary:hover::before {
    // background: darken($secondary-color, 20%);
}