// .cursor, .bubble {
//     position: fixed;
//     left: 0;
//     border-radius: 50%;
//     pointer-events: none;
//     transition: transform .1s;
// }
//
// .cursor {
//     background: black;
//     width: 20px;
//     height: 20px;
//     top: 0;
//     z-index: 999;
// }
//
// .bubble {
//     background: blue;
//     top: 50%;
//     width: 80px;
//     height: 80px;
//     z-index: 9999;
//     display: grid;
//     place-content: center;
//     opacity: 0;
// }

.cursor-btn {
    position: absolute;
    z-index: 1;
    // background: rgba(0, 0, 0, 0.3);
    // color: white;
    pointer-events: none;
    // backdrop-filter: blur(8px);
    // -webkit-backdrop-filter: blur(8px);
    transition: transform 0.4s cubic-bezier(0, 0, 0.3, 0.9),
                opacity 0.3s;
    opacity: 0;  /* Start hidden */
    font-size: 1.125rem;
}
