.heading-group {
    p {
        margin-bottom: 0px;
        font-family: 'astoria-sans';
        font-size: 22px;
        font-weight: 100 !important;
    }
    .hdln-2 {
        font-size: 4.7rem;
        font-family: 'lindsey-signature';
        color: #2b5b6e;
    }
}