.our-services {
    padding-top: 8.125rem;
    .c-btn {
        margin-right: 1.25rem;
    }
}

.services-menu {
    list-style: none;
    padding: 0px;
    margin: 5rem 0px 7.5rem 0px;
    a {
        text-decoration: none;
        color: $accent-color;
        font-size: $font-size-large;
        margin-bottom: 0.375rem;
        display: block;
    }
    img {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        max-width: 500px;
        max-height: 300px;
        object-fit: cover;
        transition: opacity 0.3s ease;
        z-index: 1;
        @media (max-width: 768px) {
            display: none;
        }
    }
}
