html {
    font-size: $spacing-unit;
}

body {
    background: $primary-color !important;
    font-family: $font-display;
}

img {
    border-radius: 0.25rem;
    width: 100%;
}

.featured-img {
    width: 100%;
    border-radius: 0.25rem;
    margin-bottom: 6.25rem;
    @media (max-width: 768px) {
        margin-bottom: 4.25rem;
    }
}

.br-4 { border-radius: 0.25rem; }

.m-auto {
    margin-left: auto;
    margin-right: auto;
    img {
        margin-left: auto;
        margin-right: auto;
    }
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: end;
    @media (max-width: 768px) {
        margin-top: 2rem;
    }
    @media (min-width: 1380px) {
        align-items: flex-start;
    }
}

.filters-mobile-dropdown {
    display: none;
    &.is-active {
        display: block;
    }
    background: $color-red;
    position: absolute;
    padding: 1.25rem;
    border-radius: 15px;
    a {
        color: $color-peach;
        display: block;
        font-size: $font-size-small;
        text-decoration: none;
        margin-bottom: 1.25rem;
    }
}

.project-card {
    margin-bottom: 5rem;
    text-decoration: none;
    img {
        margin-bottom: 1.375rem;
    }
    a {
        text-decoration: none;
    }
}

.project-grid {
    margin-bottom: 6.25rem;
}

/* Overlay for the transition effect */
.transition-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-peach; /* Fade to black, customize as needed */
    opacity: 1;
    pointer-events: none;
    z-index: 9999; /* Ensure it stays on top */
    transition: opacity 0.6s ease-in-out;
}

.img-portrait {
  aspect-ratio: 3 / 4; /* Optional: Enforce a consistent aspect ratio */
  object-fit: cover;
}

.img-landscape {
  aspect-ratio: 3 / 2; /* Optional: Enforce a consistent aspect ratio */
  object-fit: cover;
}
