

html {
    font-size: $spacing-unit;
}

body {
    background: $color-background-off-white !important;
    font-family: $font-display;
}

img {
    border-radius: 0.625rem;
    width: 100%;
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
    img {
        margin-left: auto;
        margin-right: auto;
    }
}

.img-portrait {
  aspect-ratio: 3 / 4; /* Optional: Enforce a consistent aspect ratio */
  object-fit: cover;
}

.img-landscape {
  aspect-ratio: 3 / 2; /* Optional: Enforce a consistent aspect ratio */
  object-fit: cover;
}
