// Colours

.txt-primary { color: $primary-color; }
.txt-secondary { color: $secondary-color; }
.txt-accent { color: $accent-color; }

.bg-primary { background-color: $primary-color; }
.bg-secondary { background-color: $secondary-color; }
.bg-accent { background-color: $accent-color; }

// WP Gutenburg Colours

/* Custom Gutenberg colors */

.has-primary-sage-color { color: $color-primary-sage; }
.has-primary-sage-background-color { background-color: $color-primary-sage; }

.has-primary-blue-color { color: $color-primary-blue; }
.has-primary-blue-background-color { background-color: $color-primary-blue; }

.has-primary-beige-color { color: $color-primary-beige; }
.has-primary-beige-background-color { background-color: $color-primary-beige; }

.has-secondary-terracotta-color { color: $color-secondary-terracotta; }
.has-secondary-terracotta-background-color { background-color: $color-secondary-terracotta; }

.has-secondary-gold-color { color: $color-secondary-gold; }
.has-secondary-gold-background-color { background-color: $color-secondary-gold; }

.has-secondary-lavender-color { color: $color-secondary-lavender; }
.has-secondary-lavender-background-color { background-color: $color-secondary-lavender; }

.has-background-charcoal-color { color: $color-background-charcoal; }
.has-background-charcoal-background-color { background-color: $color-background-charcoal; }

.has-background-mist-color { color: $color-background-mist; }
.has-background-mist-background-color { background-color: $color-background-mist; }

.has-background-off-white-color { color: $color-background-off-white; }
.has-background-off-white-background-color { background-color: $color-background-off-white; }

.has-dark-color { color: $color-dark; }
.has-dark-background-color { background-color: $color-dark; }

// Spacing
.spacer-small { height: 1.25rem; } /* 20px */
.spacer-medium { height: 3.75rem; } /* 30px */
.spacer-large { height: 2.5rem; } /* 40px */
.spacer-xlarge { height: 3.125rem; } /* 50px */
.spacer-xxlarge { height: 4.688rem; } /* 75px */

/* Example: Responsive Margins */
@media (min-width: 768px) {
    .spacer-small { height: 2.5rem; } /* 40px */
    .spacer-medium { height: 3.75rem; } /* 60px */
    .spacer-large { height: 5rem; } /* 80px */
    .spacer-xlarge { height: 6.25rem; } /* 100px */
    .spacer-xxlarge { height: 8.125rem; } /* 130px */
}

.aspect-ratio-standard {
    aspect-ratio: 3 / 2; /* Maintains a 16:9 aspect ratio */
    object-fit: cover;
}

.aspect-ratio-tall {
    aspect-ratio: 0.67 / 1; /* Maintains a 16:9 aspect ratio */
    object-fit: cover;
}
